/* line 3, ../sass/jq-rating.scss */
.jq-rating {
  font-size: 25px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* line 13, ../sass/jq-rating.scss */
.jq-rating--editable .jq-rating-group {
  cursor: pointer; }

/* line 20, ../sass/jq-rating.scss */
.jq-rating--xlow .jq-rating-group--hover {
  color: #e11e21; }

/* line 25, ../sass/jq-rating.scss */
.jq-rating--low .jq-rating-group--hover {
  color: #ff5d10; }

/* line 30, ../sass/jq-rating.scss */
.jq-rating--medium .jq-rating-group--hover {
  color: #e8800e; }

/* line 35, ../sass/jq-rating.scss */
.jq-rating--high .jq-rating-group--hover {
  color: #f9b836; }

/* line 40, ../sass/jq-rating.scss */
.jq-rating--xhigh .jq-rating-group--hover {
  color: #fdd119; }

/**
 * Groups
 */
/* line 48, ../sass/jq-rating.scss */
.jq-rating-group,
.jq-rating-group--hover {
  color: #EEE; }
  /* line 52, ../sass/jq-rating.scss */
  .jq-rating-group > span,
  .jq-rating-group--hover > span {
    margin-right: 2px; }

/* line 56, ../sass/jq-rating.scss */
.jq-rating-group--hover {
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out; }
